/* Dark Mode Styles */
body.dark-mode {
    background: #2C3E50;
    color: white;
}

body.dark-mode header {
    background-color: #34495E;
}

body.dark-mode footer {
    background-color: #34495E;
}

/* Scroll to Top Button */
.scroll-top-btn {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #FF6347;
    color: white;
    padding: 10px 20px;
    font-size: 1.5rem;
    border-radius: 50%;
    border: none;
    cursor: pointer;
    display: none;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    z-index: 9999;
}

.scroll-top-btn.show {
    display: block;
}
